body{
  font-family: 'Open Sans', sans-serif;
  background-color: #97E5EF;
}

.banner-background{
  background-color:#E0FFCD;
  color:whitesmoke;
}

.banner-content{
  background-color:#092A35;
}

.nav-content{
  background-color:#000133;
  font-weight: bold;
}

.about-container{
  background-color:#000133;
  color:white;
}

.education-container{
  background-color:#97E5EF;

}

.pink{
  background-color: #900C3F;
}
.pink-font{
  color:#900C3F
}
.circle{
  background-color: #900C3F;
  height:150px;
  width:150px;
  border-radius: 50%;
}
.project-container{
  background-color: #000133;
  color:white;
}
a{
  color:#FFBEC5;
  
}
a:hover{
  text-decoration: none;
  color:white;
  font-style: italic;
}
.contact{
  background-color: #000133;
  color:white;
}
.icons{
  width:60px;
  height:60px;
  border-radius: 50%;
  display:inline-block;
  background-color: #000133;
  color:white;
  text-align: center;
  font-size: 40px;
}
.icons:hover{
  
  display:inline-block;
  background-color: white;
  color: #900C3F;
  text-align: center;
  
}
.nam{
  font-style: italic;
}
.pinkz{
  color:#FFBEC5;
}